.idea/
api-framework/vendor/**/*/
api-framework/*.json
api-framework/*.lock
api-framework/.env.example
api-framework/*.yml
api-framework/*.xml
api-framework/*.md
api-framework/*.dist
api-framework/.editorconfig
api-framework/.git*

docker/mysql/store/**/*
docker/**/logs
!store/.gitkeep
!.gitkeep